extends ../include/_default

block config
    - rootBase = '../'
    - frontPath = rootBase + 'assets/frontend/'
    - title = 'Eat & Drink'
    - imgPath = rootBase + 'assets/images/'
    - cssPath = rootBase + 'assets/styles/'

block stylesheet

block javascript
    script(src= frontPath + 'page/brand.js' + '?v' + version)
