//- Color

.co-black{
    color: var(--black)
}

.co-white{
    color: var(--white)
}

.co-grey{
    color: var(--grey)
}

.co-grey-50{
    color: var(--grey-50)
}

.co-dark{
    color: var(--dark)
}

.co-light{
    color: var(--light)
}

.co-primary{
    color: var(--primary)
}

.co-primary-50{
    color: var(--primary-50)
}

.co-primary-25{
    color: var(--primary-25)
}

.co-danger{
    color: var(--danger)
}

.co-info{
    color: var(--info)
}

.co-success{
    color: var(--success)
}

.co-warning{
    color: var(--warning)
}

//- background color

.bg-black{
    background-color: var(--black)
}

.bg-white{
    background-color: var(--white)
}

.bg-grey{
    background-color: var(--grey)
}

.bg-grey-50{
    background-color: var(--grey-50)
}

.bg-dark{
    background-color: var(--dark)
}

.bg-light{
    background-color: var(--light)
}

.bg-primary{
    background-color: var(--primary)
}

.bg-primary-50{
    background-color: var(--primary-50)
}

.bg-primary-25{
    background-color: var(--primary-25)
}

.bg-danger{
    background-color: var(--danger)
}

.bg-info{
    background-color: var(--info)
}

.bg-success{
    background-color: var(--success)
}

.bg-warning{
    background-color: var(--warning)
}
