:root{
    --black: #{$black};
    --white: #{$white};
    --grey : #{$grey};
    --grey-50 : #{$grey-50};
    --dark : #{$dark};
    --light: #{$light};
    --danger: #{$danger};
    --info: #{$info};
    --success: #{$success};
    --warning: #{$warning};
    --primary: #{$primary};
    --primary-50: #{$primary-50};
    --primary-25: #{$primary-25};
}
